html{
    font-family: serif;
    
}
#name{
    border-style: double;
    border-width: 10px;
    border-color: red;
    float: left;
    width: 49%;
    height: 100%;
}
.mainDetails{
    text-align: left;
}
.sectionTitle{
    color: red;
    font-size: 3em;
}
